In [35]:
import numpy                as np
import pandas               as pd
import plotly.graph_objects as go
import plotly.io            as io

scope = pd.read_csv(f'../data/Clean/scope.csv')

apple = scope[scope.company == 'Apple']

apple_employees  = apple.groupby('code').sum().employees

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

map = go.Choropleth(
    
    locations           = apple_employees.index,
    z                   = apple_employees.values,
    text                = apple_employees.index,
    
    colorscale          = 'Blues',
    autocolorscale      = True,
    reversescale        = True,
    marker_line_color   = 'darkgray',
    marker_line_width   = 0.5,
    colorbar_tickprefix = '',
    colorbar_title      = 'Employees',
)

fig = go.Figure(data   = map)

fig.update_layout(
    title_text = 'Global Scope',
    geo = dict(
        showframe       = False,
        showcoastlines  = False,
        projection_type = 'equirectangular'
    )
)

fig.write_html('3_GlobScope.html')
io.write_json(fig, '3_GlobScope.plotly')

In [16]:
df

            COUNTRY  GDP (BILLIONS) CODE
0       Afghanistan           21.71  AFG
1           Albania           13.40  ALB
2           Algeria          227.80  DZA
3    American Samoa            0.75  ASM
4           Andorra            4.80  AND
..              ...             ...  ...
217  Virgin Islands            5.08  VGB
218       West Bank            6.64  WBG
219           Yemen           45.45  YEM
220          Zambia           25.61  ZMB
221        Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [26]:
apple_employees.values

array([     0,     28,   4112,    113,      2,    179,   4345,      0,
         2833,   1413,     11,      0,   6733,     64,      0,      3,
          800,      0,   1686,      0,     33,      0,      0,      0,
          700,      0,     58,     24,      0,      0,    274,      0,
            0,      0, 137255,      0])